.skillsWrapper {
  background: #5f9ea0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem; /*modified*/
  padding-top: 2.5rem; /* added */
}

#skills h1 {
  font-size: 48px;
  text-align: center;
  padding: 24px 0px;
  color: rgb(245, 9, 9);
}
.skillName {
  color: white;
}

@media screen and (max-width: 768px) {
  #skills {
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
    padding-bottom: 40px;
  }
  #skills h1 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1000px) {
  #skills {
    height: /* calc(100vh - 40px); */ auto;
  }
}
@media screen and (max-width: 480px) {
  #skills {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
